@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

html {
    background-color: #ffe0c3;
}

.sc-text {
    font-family: Bitter, serif;
}

.orange-color {
    color: orange;
}

.black-stroke {
    text-shadow:
        -1px -1px 0 black,
        0   -1px 0 black,
        1px -1px 0 black,
        1px  0   0 black,
        1px  1px 0 black,
        0    1px 0 black,
        -1px  1px 0 black,
        -1px  0   0 black;
}

.sc-button {
    background: linear-gradient(to bottom, #ffa530 5%, #ff8269 100%);
	background-color:#ffa530;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color:white;
	font-family:Arial;
	font-size: 10px;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #2f6627;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    background-color: #ff7e29;
}

label, p {
    color: #ff6f0f;
}

::selection {
    background: #ffc268;
}

input, select, textarea{
    color: #ff5917;
}

textarea:focus, input:focus {
    color: #ff5917;
}

a {
    text-decoration: none;
}

a:link {
    color: orange;
  }
  
  a:visited {
    color: orangered;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: red;
  }

  audio {
      color: orangered;
  }