.orange-color {
    color: orange;
}

.black-stroke {
    text-shadow:
        -1px -1px 0 black,
        0   -1px 0 black,
        1px -1px 0 black,
        1px  0   0 black,
        1px  1px 0 black,
        0    1px 0 black,
        -1px  1px 0 black,
        -1px  0   0 black;
}

.sc-button {
    background: linear-gradient(to bottom, #ffa530 5%, #ff8269 100%);
	background-color:#ffa530;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 10px;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #2f6627;
}